<!DOCTYPE html>
<html>

<head>
  <!-- Character encoding -->
  <meta charset="utf-8">

  <!-- Title heading -->
  <title>ToDo List!</title>

  <!-- Styles import -->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>