<%- include('partials/header') -%>

<div id="heading" class="box">
  <h1> <%= eCurrentDay %> </h1>
</div>

<div class="box">
  <% for( let i=0 ; i< newListItems.length ; i++) { %>
  <div class="item">
    <input type="checkbox">
    <p> <%= newListItems[i] %> </p>
  </div>
  <% } %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="Your new item here..." autocomplete="off" autofocus>
    <button type="submit" name="submit">+</button>
  </form>

</div>

<%- include('partials/footer') -%>